<div class="w-screen h-screen flex justify-center items-center">
    <form
        class="w-1/4 flex flex-col gap-3 p-10 shadow-lg rounded-lg"
        [formGroup]="loginForm"
        (ngSubmit)="handleSubmit()"
    >
        <app-input-form
            label="username"
            inputId="username"
            formControlName="username"
        ></app-input-form>
        <app-input-form
            label="password"
            inputId="password"
            type="password"
            formControlName="password"
        ></app-input-form>
        <button class="bg-sky-400 p-2 rounded-md text-white font-semibold hover:opacity-90" type="submit">Submit</button>
    </form>
</div>
